body{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(pngtree-soccer-ball-in-goal-picture-image_1821347.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: justify;
    
}
#img-gb{
    width: auto;

  
}

    .container {
  display: flex;
  flex-direction: column; /* coloca em coluna (texto em cima, imagem embaixo) */
  align-items: center;    /* centraliza horizontalmente */
  text-align: center;     /* centraliza o texto */
}

.img-center{
    display: block;
    margin: auto;
}

.center-list{
    text-align: center;
}
.lista{
    display: inline-block;
    text-align: left;
}
